<div class="text-center">
    <% auth_errors.each do |message| %>
        <p class="alert alert-danger mt-3"><%= message %></p>
    <% end %>
    <% if logged_in? %>
        <h1>You are Logged In, <%= current_user.username %></h1>
        <a href="/articles">Go to articles</a>
    <% else%>
        <div class="row d-flex justify-content-center">
            <%= button_to "Login", '/login', method: :get, class: "btn btn-lg btn-primary m-5"%>
            <%= button_to "Sign Up", '/users/new', method: :get, class: "btn btn-lg btn-secondary m-5"%>
        </div>
    <%end%>
</div>